<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>

    <!--
        Can use HTML escaping to get python data, we ahve access to python variables
     -->
    <h1> {{restaurant.name}}</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li><strong> {{message}}</strong></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <a href="{{url_for('newMenuItem', restaurant_id = restaurant.id)}}">Create New Item</a>
    <br>
    <br>

    {% for i in items %}
    {{i.name}}
    </br>
    {{i.description}}
    </br>
    {{i.price}}
    </br>

    <!-- url_for method accepts the name of the method as first argument, unknown variables are appended to the URL as query parameters.
        helps to change the url all over the place.
    -->
    <a href="{{ url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}">Edit</a>
    </br>

    <a href="{{ url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}">Delete</a>
    </br>
    </br>

    <!-- cannot use indentation in html file to mark the end of for loop or if statement -->
    {% endfor %}

    </body>

</body>
</html>